	</div> <!-- .row -->
	</div>
	<!-- 模板页脚内容 -->
	<hr>
	<div class="container">		
		<footer>
			<p>Copyright© five3@163.com 2014</p>
			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5385992'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s9.cnzz.com/stat.php%3Fid%3D5385992%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
		</footer>	
	</div>
	<!-- 模板页脚结束 -->
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/common/js/libs/jquery/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/common/js/libs/bootstrap/bootstrap.min.js"></script>
    <!-- syntaxhighlighter Files Load -->
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shCore.js"></script>
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shBrushPlain.js"></script>	
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shBrushCpp.js"></script>	
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shBrushCSharp.js"></script>	
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shBrushCss.js"></script>	
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shBrushJava.js"></script>	
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shBrushJScript.js"></script>	
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shBrushPhp.js"></script>	
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shBrushPython.js"></script>	
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shBrushRuby.js"></script>	
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shBrushSql.js"></script>
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shBrushVb.js"></script>	
	<script type="text/javascript" src="/static/common/js/libs/syntaxhighlighter/shBrushXml.js"></script>	
    <!-- User define Files Load -->
    <script type="text/javascript" src="/static/common/js/libs/utils/core.js"></script>	
    <script type="text/javascript" src="/static/docServer/js/libs/utils.js"></script>
	<script type="text/javascript" src="/static/docServer/js/views/request.js"></script>
	<script type="text/javascript" src="/static/docServer/js/views/response.js"></script>
	<script type="text/javascript" src="/static/docServer/js/views/event.js"></script>
	<!-- register onready event  -->
	<script type="text/javascript">
		$$(document).ready(function(){
			SyntaxHighlighter.config.clipboardSwf = "/static/common/js/libs/syntaxhighlighter/clipboard.swf";
			SyntaxHighlighter.all();	
		});
	</script>
</body>
</html>