$def with(data_dict)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="zh-CN">
	<head>
		<title>$data_dict['render_content'].get('title', '首页') testDoc-测试文档</title>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="shortcut icon" href="/static/common/images/favicon.ico">
			<!-- Bootstrap CSS Files-->
			<link rel="stylesheet" href="/static/common/css/bootstrap/bootstrap.min.css">
			<link rel="stylesheet" href="/static/common/css/template/default.css">
			<!-- syntaxhighlighter CSS Files -->
			<link type="text/css" rel="stylesheet" href="/static/common/css/syntaxhighlighter/shCoreDefault.css"/>
		</head>
	<body>
		
	
	<!-- 模板标题内容 -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">testDoc-测试文档</a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
		  <li class="$data_dict.get('home_active', '')"><a href="/docmaster">首页</a></li>
		  <li class="$data_dict.get('manage_active', '')"><a href="/docmaster/manage">管理</a></li>
		  <!-- <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">自动化工具文档<b class="caret"></b></a>
			<ul class="dropdown-menu">
			  <li><a href="/docmaster?pid=100&type=project">DDAP项目文档</a></li>
			  <li><a href="/docmaster?pid=101&type=project">MData项目文档</a></li>
			  <li><a href="/docmaster?pid=102&type=project">APIOW项目文档</a></li>
			</ul>
		  </li> -->
		</ul>
		<form class="navbar-form navbar-right" role="search" action="/docmaster/search">
		  <div class="form-group">
			<input type="text" class="form-control" placeholder="找点什么...">
		  </div>
		  <button type="submit" onclick="alert('搜你妹的，还没做好呢！^_^');" class="btn btn-primary">搜索</button>
		</form>
	  </div><!-- /.navbar-collapse -->
	  </div>
	</nav>	
	<!-- 模板标题结束 -->
	